@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>OneBox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="inner">
        <table border="0" cellpadding="10">
            <tr>
                <td>
                    <h1>The future of Cloud Storage!</h1>
                </td>
            </tr>
        </table>

        <p>This is the home page for OneBox.</p>
        <p>Click this to see your files:</p>
        <ul>
            <li>@Html.ActionLink("File List", "FileList", "Home")
        </ul>
    </div>

</body>
</html>