body {
    background-color: #B2AEAE;
    font-family: fantasy;
}
 
.navbar-header {
    font-size: 42px;
    font-style: oblique;
}

nav {
    background: url("Clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: gold;
}

a:link, a:visited {
    color: #FFFFFE;
}

.navbar-collapse collapse {
    border:thick;
    background-color:antiquewhite;
}

#inner {
    width: 50%;
    margin: 0 auto; 
    font-family: Tahoma;
}

.nowrap {
  white-space: nowrap;
  text-combine-upright: all;
  text-align: center;
  font-family: Tahoma;
}

.filename {
  text-align:center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fileslist {
  background-color: #C5CACC;
}
